@model Sample.Models.UserIntegration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserIntegration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YellowantUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YellowantUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YellowantTeamSubdomain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YellowantTeamSubdomain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntegrationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntegrationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvokeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvokeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YellowantIntegrationToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YellowantIntegrationToken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
