
@model IEnumerable<Sample.Models.UserIntegration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Integrate</h2>

<a href="/userintegration/newintegration/" class="btn btn-info" role="button">Link Button</a>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YellowantUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YellowantTeamSubdomain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntegrationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvokeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YellowantIntegrationToken)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YellowantUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YellowantTeamSubdomain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntegrationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvokeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YellowantIntegrationToken)
            </td>
            
        </tr>
    }

</table>
